html {

  font-family: "Unica One", sans-serif;
}

h1 {
  color: #f1f1f1;
  animation: fade 1s linear;
  top: -70px;
  z-index: 1000;
}


@keyframes offset {

  to {
  stroke-dashoffset: 0;
  }

}

#rainbow-indigo {
animation: offset 2s linear forwards;
stroke-dasharray: 1900px;
stroke-dashoffset: 1900px;
animation-delay: 2s;
}

#rainbow-violet {
animation: offset 2s linear forwards;
stroke-dasharray: 1950px;
stroke-dashoffset: 1950px;
animation-delay: 2s;
}

#rainbow-blue {
animation: offset 2s linear forwards;
stroke-dasharray: 1900px;
stroke-dashoffset: 1900px;
animation-delay: 2s;
}

#rainbow-green {
animation: offset 2s linear forwards;
stroke-dasharray: 1900px;
stroke-dashoffset: 1900px;
animation-delay: 2s;
}

#rainbow-yellow {
animation: offset 2s linear forwards;
stroke-dasharray: 1900px;
stroke-dashoffset: 1900px;
animation-delay: 2s;
}

#rainbow-orange {
animation: offset 2s linear forwards;
stroke-dasharray: 1900px;
stroke-dashoffset: 1900px;
animation-delay: 2s;
}

#rainbow-red {
animation: offset 2s linear forwards;
stroke-dasharray: 1900px;
stroke-dashoffset: 1900px;
animation-delay: 2s;
}
